h4{
	/*background: rgb(0,100,10);
*/ color: white;
}
h1{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	color: white;
}
body {
	background: url(background-blur-clean-531880.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
div{
	color: white;
}
