<h1>This is  the secret page!</h1>

<p>you found me!</p>

<img src="http://1.bp.blogspot.com/-hVC_TknxiIk/T6S-pdkik9I/AAAAAAAABYs/eugG25ER4G0/s1600/Dogo-Argentino-dog9.jpg"> 


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>